* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --card-width: 80px;
  --card-height: 120px;
  --main-color: 22, 101, 52;
  --main-bright-color: 34, 197, 94;
  --warning-color: 235, 125, 52;
  --red-color: 220, 38, 38;
  --red-brigther-color: 239, 68, 68;
  --page-main-color: #0c2240;
  --page-main-bright-color: #0f315c;


}
a, input, button {
  font-family: 'Orbitron', sans-serif !important;
}
a, input, button:hover:not(:disabled) {
  cursor: pointer;

}
body {
  font-family: 'Orbitron', sans-serif !important;
}

html {
  background-color: var(--page-main-color);
}
@media (max-width: 768px) {

  :root {
    --card-width: 60px;
    --card-height: 90px;
  }
}
