* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --card-width: 80px;
    --card-height: 120px;
    --main-color: 44, 95, 45;
    --warning-color: 235, 125, 52;
}

@media (max-width: 768px) {
    :root {
        --card-width: 60px;
        --card-height: 90px;
    }
}
